/* Esercizio 1 */
.ex-1-square:hover{
    transition: 2s;
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square:hover{
    transition: 2s;
    width: 100%;
}
/* Esercizio 3 */
.ex-3-square:hover{
    transition: 2s;
    border-radius: 100%;
}
/* Esercizio 4 */
.ex-4-square:hover{
    transition: 2s;
    background-color: #f5f5f5;
}
/* Esercizio 5 */
.ex-5-square:hover{
    transition: 2s;
    transform: scale(2);
}
.ex-5-square:active{
    transition: 3s;
    transform: scale(0.5);
}
/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}
/* Esercizio 7 */
.ex-7-img:hover{
    transition: 3s;
    filter: grayscale(100%);
}
/* Esercizio 8 */
.ex-8-img:hover{
    transition: 2s;
    filter: grayscale(100%);
    filter: contrast(10%);
    border-radius: 20px;
}
/* Esercizio 9 */
.ex-9-img:hover{
    transition: 2s;
    filter: grayscale(50%);
    filter: hue-rotate(50%);
    border-radius: 20px;
    transform: scale(3);
}
