/* Esercizio 1 */
.ex-1-square:hover{
    transition: 2s;
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square:hover{
    transition: 2s;
    width: 100%;
}
/* Esercizio 3 */
.ex-3-square:hover{
    transition: 2s;
    border-radius: 100%;
}
/* Esercizio 4 */
.ex-4-square:hover{
    transition: 2s;
    background-color: #f5f5f5;
}